* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #404040;


}

/*NAV*/


header {
    width: 100%;
    position: absolute;
    padding-right: 50px;
    padding-left: 50px;

}



.vimeo-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 98vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.logo {
    margin: auto;
    color: #404040;
    font-size: 20px;
    letter-spacing: 3px;

}

.navbar-nav {
    justify-items: right;
}

.nav-item {
    float: right;
    padding: 20px;

}


.nav-link:hover {
    font-weight: bold;
}

/*General*/

section {
    max-width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

}

.row {
    width: 100%;
}

.contenedor {
    margin: auto;
    width: 95vw;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    justify-items: center;
}

.img-fluid {
    max-height: 100vh;
    width: auto;
    object-fit: contain;
    object-position: center;
}

ul {
    list-style: none;
}

.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-12 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

/*carousel*/
.d-block {
    max-height: 95vh;
    width: auto;

}

.carousel-contenedor {
    margin: auto;
    justify-content: center;
    justify-items: center;
    width: 80%;
    height: auto;
}


.carousel-image {
    object-fit: cover;
    object-position: center;

}

.title {
    text-align: left;
    font-size: 52px;
}


.wearItNaked {
    text-align: right;
}

/*experience */

/*TO BE CONTINUED*/

.toBeContinued li {
    padding: 25px;
}

.iconos {
    max-width: 30px;
}


/*///////////////////////////////// FOOTER///////////////////////////////////////////*/

.footer {
    height: 20vh;

    width: 100%;
    font: 16px;
    text-align: left;
    padding-top: 5px;
}

.footer-distributed {
    width: 100%;
    font: 16px;
    text-align: left;
    overflow: hidden;

}

.container-footer {
    float: inline-end
}


.footer-distributed .footer-links {
    color: #404040;
    margin: 1px;
    padding: 2px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

/* Footer social icons */

.footer-distributed .footer-icons {

    margin-top: 10px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 2px;

    font-size: 20px;
    color: #404040;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/*About me*/

.about-me {
    padding-top: 5%;
    padding-bottom: 2%;
}

/*Gallery exhibitions*/

.gallery-block{padding-bottom: 60px; padding-top: 60px;}
.gallery-block .heading{margin-bottom: 50px; text-align: center;}

.gallery-block .heading h2{font-weight: bold;font-size: 1.4rem; text-transform: uppercase;}

.gallery-block.cards-gallery h6{font-size: 17px; font-weight: bold;}

.gallery-block.cards-gallery .card{transition: 0.4s easy;}
.gallery-block.cards-gallery .card img{box-shadow: 0px 2px 10px rgba(0,0,0,0.15);}
.gallery-block.cards-gallery .card-body{text-align: center;}
.gallery-block.cards-gallery .card-body p{font-size: 15px;}
.gallery-block.cards-gallery a{color:#212529; }
.gallery-block.cards-gallery a:hover{text-decoration: none;}
.gallery-block.cards-gallery  .card{
	margin-bottom: 30px;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}



/* ////////////////////////////////////Contact////////////////////////////////////// */

.contacto {
    width: 100%;
    height: 100vh;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    width: 100%;
    background-color: #404040;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgba(255, 248, 220, 0.479);

}

.wrapper h2 {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;

}

.wrapper .input-field {
    margin-bottom: 10px;
}

.wrapper .input-field input[type="text"],
.wrapper textarea {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 5px;
}

.wrapper textarea {
    resize: none;
    height: 40vh;
}

#submit {
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: whitesmoke;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 5px;
    border-radius: 10px;
    color: #404040;
}


@media (max-width: 500px) {

    .logo {
        color: whitesmoke;
        font-size: 20px;
        letter-spacing: 2px;
        text-align: center;
        width: 100%;
        padding-top: 15px;

    }
    
    .navbar-toggler-icon {
        width: 10em;
    }


    .blanco {
        color: white !important;
        font-size: 20px;
    }

   

    .section {
        height: 80vh;
    }

    .title {
        text-align: center;
        font-size: 30px;
    }

    .img-fluid {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .row {
        margin: 0;
    }

    .ocultar {
        visibility: hidden;
        display: none;
    }

}